* {
    font-family: 'Lexend', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    background-color: rgba(22, 104, 228, 0.925);
}

.text-center {
    text-align: center;
}

.icon-grid {
/* flex! */
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.show {
/* visibilità e opacità */
opacity: 1!important;
}

#griglia>div {
    /* dimensioni e margini */
    background-color: #b80adbdc;
    border: 1px solid #3889c4;
    border-radius: 10px;
    flex-basis: 20%;
}

.timer {
    padding: 1rem 0;
}

.icon {
    font-size: 5rem;
    text-align: center;
    visibility: visible !important;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    cursor: wait;
}

.show {
    /* agganciare animation-name rotazione carta */
    animation: blob 0.5s;
    animation-duration: .5s;
    background-color: white;
    border: 1px solid #3889c4;
    border-radius: 10px;
}

.find {
    /* agganciare animation-name indovinato */
    animation: azzeccato 0.5s;
    animation-duration: .5s;
    background-color: rgba(247, 212, 16, 0.56);
    border: 1px solid #3889c4;
    border-radius: 10px;
}

.button {
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #b80adbdc;
    border: 1px solid #3889c4;
    border-radius: 5px;
}

.button:hover {
    background-color: #16486c;
    border: none;
}

#modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
}

#modal.active {
    display: flex;
}

#modal h2 {
    margin-top: 2rem;
}

/* @media (max-width: 600px) {
    .container {
        width: 400px;
    }
    #griglia>div {
        margin: 5px 5px;
        width: 70px;
        height: 70px;
    }
    .icon {
        font-size: 5rem;
    }
}

@media (max-width: 420px) {
    .container {
        width: 230px;
    }
    #griglia>div {
        margin: 5px 5px;
        width: 40px;
        height: 40px;
    }
    .icon {
        font-size: 5rem;
    }
} */

@keyframes azzeccato {/* animazione quando si indovina */
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) 
    } 
}

@keyframes blob {/* animazione quando ruota la carta */
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
} 